<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc 
           https://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context 
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util 
           https://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Enable Spring MVC -->
	<mvc:annotation-driven
		enable-matrix-variables="true" />

	<!-- Define base package for component scanning -->
	<context:component-scan
		base-package="controller"></context:component-scan>

	<!-- Define View Resolver for JSP -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		setting maximum upload size <property name="maxUploadSize" value="834422000" 
		/> </bean> -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />


	<mvc:resources mapping="/resources/**"
		location="/WEB-INF/resources/" cache-period="32400" />

	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName"
			value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://localhost:5432/snlp?createDatabaseIfNotExist=true" />


		<!-- <property name="username" value="snlp" />
		<property name="password" value="UeqK7Bo3SEfn6s6m" /> -->
		
		<property name="username" value="postgres" />
		<property name="password" value="root" />

		<property name="validationQuery" value="SELECT 1" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="modal" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.batch_size">10</prop>
				<prop key="hibernate.order_inserts">true</prop>
				<prop key="hibernate.order_updates">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Define RestTemplate bean -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

	<tx:annotation-driven
		transaction-manager="transactionManager" />
	<bean id="homeDao" class="dao.HomeDAOImpl" />
	<bean id="homeService" class="service.HomeServiceImpl" />
	<bean id="userService" class="service.UserServiceImpl" />
	<bean id="userDao" class="dao.UserDAOImpl" />
	
	<util:properties id="config"
		location="classpath:../config.properties" />

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"
			value="classpath:../config.properties" />
	</bean>
	
	
	<!-- Mail sender configuration -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="lsd3343@gmail.com"/>
        <property name="password" value="ahzq qiok qjgh trde"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop> <!-- Add this -->
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
	

</beans>
